.header {
  background-color: var(--header-white);
  border-bottom: 1px solid var(--header-white);
}

.wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  line-height: 1.25;
  color: var(--main-black);
  transition: color 250ms ease-in-out;
}

.active,
.link:hover,
.link:focus {
  color: var(--dark-blue);
}
